<body>
    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12" id="encabezado">
	<form action="/" method="post">
	  <table>
        <tr>
          <th><h4>Introduzca la temperatura(32F, 45C, -2.5f):</h4></th>
          <td><input type="text" name="original" size="25" value="0c" autofocus / ></td>
          <td><button type="submit">Convertir</button></td>
        </tr>
        <tr>
          <th><h4>Resultado:</h4></th>
          <td><span class="output"><%- resul %></span></td>
        </tr>
    </table>
  </form>  
		</div>
	</div>
	</div>
</body>