<body>
    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12" id="encabezado">
	<table>
      <tr>
        <th><h4>Introduzca la temperatura(32F, 45C, -2.5f):</h4></th>
        <td><input id="original" size="25" value="0c"></td>
        <td><button onclick="calcular()">Convertir</button></td>
      </tr>
      <tr>
        <th><h4>Resultado:</h4></th>
        <td><span class="output" id="resul"></span></td>
      </tr>
    </table>
		</div>
	</div>
	</div>
</body>